<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of ExpenseCategory</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>List of ExpenseCategory</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<a th:href="@{/expenseCategory/edit}">Create new ExpenseCategory</a>
<table>
    <thead>
    <tr>
        <th>name</th>
        <th>description</th>
        <th>parentCategory</th>
        <th>childCategories</th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${list}">
        <td th:text=${entity.name}></td>
        <td th:text=${entity.description}></td>
        <td th:text=${entity.parentCategory}></td>
        <td>
            <ul>
                <li th:each="childCategories_item : ${entity.childCategories}" th:text="${childCategories_item}"></li>
            </ul>
        </td>

        <td>
            <a th:href="@{/expenseCategory/{id}(id=${entity.id})}">See detail</a>
            <a th:href="@{/expenseCategory/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/expenseCategory/'
                  +${entity.id}+'/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
