<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer" class="footer">
    <div class="container">
        <div class="pre_footer">
            <div class="row">
                <div class="col-sm-6">
                    <div class="sidepanel widget_text">
                        <h4 class="title">About Team</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <a class="logo" href="/"><img alt="" class="logo_def" src="/img/logo.png"><img alt="" class="logo_retina" src="/img/retina/logo.png"></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="sidepanel widget_text">
                        <h4 class="title">Contact Us</h4>
                        <p>Maecenas etos sit amet, consectetur adipiscing elit. Terminal volutpat rutrum metro amet sollicitudin interdum.</p>
                        <p><span>Phone:</span> +1 (800) 456 37 96</p>
                        <p><span>Office:</span> 5826 Baker Street, New York</p>
                        <p><span>Email:</span> <a href="mailto:#">info@yoursite.com</a></p>
                        <div class="footer_socials">
                            <ul>
                                <li><a href="javascript:void(0);" class="soc_fb"><i class="icon-facebook"></i></a></li>
                                <li><a href="javascript:void(0);" class="soc_tweet"><i class="icon-twitter"></i></a></li>
                                <li><a href="javascript:void(0);" class="soc_google"><i class="icon-google-plus"></i></a></li>
                                <li><a href="javascript:void(0);" class="soc_dribbble"><i class="icon-dribbble"></i></a></li>
                                <li><a href="javascript:void(0);" class="soc_pinterest"><i class="icon-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="footer_logo"><a href="/" class="logo"><img src="/img/logo.png" class="logo_def" alt="" /><img src="/img/retina/logo.png" class="logo_retina" alt="" /></a></div>
            <div class="copyright">Copyright 2023. All Rights Reserved by Eagle Creative, Premium HTML Template.</div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>