<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/img/favicon.ico" type="/image/x-icon">
    <link rel="apple-touch-icon" href="/img/apple_icons_57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple_icons_72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple_icons_114x114.png">
    <title>Eagle Creative</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100,400italic,700,500,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/theme.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/custom.css" type="text/css" media="all" />
</head>
<body>

</body>
</html>