<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header" class="main_header type3">
    <div class="header_parent_wrap">
        <header>
            <div class="container">
                <div class="logo_sect">
                    <a href="/" class="logo">
                        <img src="/img/logo.png" class="logo_def" alt=""/>
                        <img src="/img/retina/logo.png" class="logo_retina" alt=""/>
                    </a>
                </div>
                <nav>
                    <ul class="menu">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                        <li>
                            <a href="/faq">FAQ</a>
                        </li>
                        <li th:if="${#request.userPrincipal != null and !#request.isUserInRole('ADMIN') }">
                            <a href="/user/profile" class="nav-item nav-link" >Profile</a>
                        </li>
                        <li th:if="${#request.isUserInRole('ADMIN')}">
                            <a href="/budget" class="nav-item nav-link"
                            >Budget</a>
                        </li>
                        <li th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('MANAGER')}">
                            <a href="/budgetallocation" class="nav-item nav-link"  >Budget Allocation</a>
                        </li>
                        <li th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('MANAGER')}">
                            <a href="/expensecategory" class="nav-item nav-link"
                            >Expense Category</a>
                        </li>
                        <li th:if="${#request.isUserInRole('ADMIN') or #request.isUserInRole('MANAGER')}">
                            <a href="/expenseitem" class="nav-item nav-link"
                            >Expense Item</a>
                        </li>
                        <li th:if="${#request.isUserInRole('ADMIN')}">
                            <a href="/user" class="nav-item nav-link" >Users</a>
                        </li>
                        <li th:if="${#request.userPrincipal == null}" >
                            <a href="/login">Login</a>
                        </li>
                        <li th:if="${#request.userPrincipal != null}" >
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
        </header>
    </div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/modules.js"></script>
    <script type="text/javascript" src="/js/theme.js"></script>
</div>
</body>
</html>