<!DOCTYPE html>
<html>
<head th:replace="~{/commons/head :: head}"></head>
<body>
    <div th:replace="~{/commons/header :: header}"></div>
    
    <div class="wrapper_404">
    	<div class="container">
        	<div class="row">
                <div class="col-sm-12 module_cont pb0">
                    <h1>404</h1>
                    <h2>Oooops, Page not Found!</h2>
                    <div class="module_descr">
                        <p>Apologies! Try to Search for the Best Match or Visit Our Homepage.</p>
                    </div>                                    
                </div>
            </div>
        </div>        
    </div>
    
    <div th:replace="~{/commons/map :: map}"></div>
    <div th:replace="~{/commons/footer :: footer}"></div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/modules.js"></script>
    <script type="text/javascript" src="/js/theme.js"></script>
</body>
</html>