<!DOCTYPE html>
<html>
<head th:replace="~{/commons/head :: head}"></head>
<body>
    <div th:replace="~{/commons/header :: header}"></div>
    
    <div class="breadcrumbs">
    	<div class="container">
        	<a href="/">Home</a><span>/</span><a href="javascript:void(0);">Pages</a><span>/</span>About
        </div>
    </div>
    
    <div class="wrapper">
    	<div class="container">
        	<div class="content_block row no-sidebar">
            	<div class="fl-container">
                	<div class="posts-block">
                        <div class="contentarea">                                                         
                             
                            <div class="row">
                             	<div class="col-sm-12 module_cont pb0">
                                	<div class="bg_title">
                                    	<h2>About Us</h2>
                                    </div>
                                    <div class="module_descr">
                                    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>                                    
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-4 module_cont pb43">		
                                    <div class="module_content shortcode_counter">
                                        <div class="counter_wrapper">
                                            <div class="counter_content">                                                
                                                <div class="counter_body">
                                                	<div class="stat_count_wrapper">						
                                                        <h1 class="stat_count" data-count="3541">0</h1>
                                                        <h4 class="counter_title">Days of Work</h4>
                                                    </div>                                                    
                                                    <div class="counter_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</div>
                                                    <div class="stat_temp"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 module_cont pb43">		
                                    <div class="module_content shortcode_counter">
                                        <div class="counter_wrapper">
                                            <div class="counter_content">                                                
                                                <div class="counter_body">
                                                	<div class="stat_count_wrapper">						
                                                        <h1 class="stat_count" data-count="4689">0</h1>
                                                        <h4 class="counter_title">Finished Projects</h4>
                                                    </div>                                                    
                                                    <div class="counter_text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</div>
                                                    <div class="stat_temp"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 module_cont pb43">		
                                    <div class="module_content shortcode_counter">
                                        <div class="counter_wrapper">
                                            <div class="counter_content">
                                                <div class="counter_body">
                                                	<div class="stat_count_wrapper">						
                                                        <h1 class="stat_count" data-count="2349">0</h1>
                                                        <h4 class="counter_title">Happy Clients</h4>
                                                    </div>                                                    
                                                    <div class="counter_text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                                                    <div class="stat_temp"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                             
                             <div class="row">
                             	<div class="col-sm-6 module_cont pb100">
                                	<img src="/img/imgs/about.jpg" alt="" />
                                </div>
                             	<div class="col-sm-6 module_cont pb70">
                                	<div class="module_content">
                                        <h3 class="mb16 fw400">Why We are Different</h3>
                                        <p class="lh27 mb27">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun.</p>
                                        <ul class="type2 pb_li22">
                                            <li>We help clients communicate with a strategic, thoughtful approach</li>
                                            <li>We combine the latest thinking with innovative methodologies</li>
                                            <li>We work hard every day to create products of uncompromising quality</li>
                                            <li>We keep it simple and pay attention to strength of a good message</li>
                                        </ul>   
                                    </div>                                 
                                </div>
                             </div> 
                             
                             <div class="fw_block bg_start pt90 pb45 grey_bg">
                             	<div class="row">
                                    <div class="col-sm-12 module_cont pb10">
                                        <div class="bg_title">
                                            <h2>We Craft Awesome Things</h2>
                                        </div>
                                        <div class="module_descr">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                        </div>                                    
                                    </div>
                                </div>                                
                                <div class="row">
                                    <div class="col-sm-4 module_cont module_iconboxes pb45">
                                        <div class="module_content shortcode_iconbox type2">
                                            <a href="javascript:void(0);">			
                                                <div class="iconbox_wrapper">
                                                    <div class="icon_title_wrap">
                                                        <div class="ico"><img src="/img/icons/icon7.png" class="icon_def" width="34" height="30" alt="" /><img src="/img/retina/icons/icon7.png" class="icon_retina" width="34" height="30" alt="" /></div>
                                                        <h5 class="iconbox_title">Guaranteed Uploads</h5>
                                                    </div>
                                                    <div class="iconbox_body">						
                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantiu dolores eos qui ratione.</p>
                                                    </div>					
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 module_cont module_iconboxes pb45">
                                        <div class="module_content shortcode_iconbox type2">
                                            <a href="javascript:void(0);">			
                                                <div class="iconbox_wrapper">
                                                    <div class="icon_title_wrap">
                                                        <div class="ico"><img src="/img/icons/icon8.png" class="icon_def" width="32" height="18" alt="" /><img src="/img/retina/icons/icon8.png" class="icon_retina" width="32" height="18" alt="" /></div>
                                                        <h5 class="iconbox_title">Rapid Growth</h5>
                                                    </div>
                                                    <div class="iconbox_body">						
                                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut voluptatem sequi nesciunt.</p>
                                                    </div>					
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 module_cont module_iconboxes pb45">
                                        <div class="module_content shortcode_iconbox type2">
                                            <a href="javascript:void(0);">			
                                                <div class="iconbox_wrapper">
                                                    <div class="icon_title_wrap">
                                                        <div class="ico"><img src="/img/icons/icon9.png" class="icon_def" width="32" height="32" alt="" /><img src="/img/retina/icons/icon9.png" class="icon_retina" width="32" height="32" alt="" /></div>
                                                        <h5 class="iconbox_title">Dedicated Support</h5>
                                                    </div>
                                                    <div class="iconbox_body">						
                                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur dolores eos qui ratione.</p>
                                                    </div>					
                                                </div>
                                            </a>
                                        </div>
                                    </div>  
                                    <div class="col-sm-4 module_cont module_iconboxes pb45">
                                        <div class="module_content shortcode_iconbox type2">
                                            <a href="javascript:void(0);">			
                                                <div class="iconbox_wrapper">
                                                    <div class="icon_title_wrap">
                                                        <div class="ico"><img src="/img/icons/icon16.png" class="icon_def" width="26" height="32" alt="" /><img src="/img/retina/icons/icon16.png" class="icon_retina" width="26" height="32" alt="" /></div>
                                                        <h5 class="iconbox_title">Multilayered Security</h5>
                                                    </div>
                                                    <div class="iconbox_body">						
                                                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis dolores eos qui.</p>
                                                    </div>					
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 module_cont module_iconboxes pb45">
                                        <div class="module_content shortcode_iconbox type2">
                                            <a href="javascript:void(0);">			
                                                <div class="iconbox_wrapper">
                                                    <div class="icon_title_wrap">
                                                        <div class="ico"><img src="/img/icons/icon17.png" class="icon_def" width="32" height="32" alt="" /><img src="/img/retina/icons/icon17.png" class="icon_retina" width="32" height="32" alt="" /></div>
                                                        <h5 class="iconbox_title">Custom Menus</h5>
                                                    </div>
                                                    <div class="iconbox_body">						
                                                        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihi ratione voluptatem.</p>
                                                    </div>					
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 module_cont module_iconboxes pb45">
                                        <div class="module_content shortcode_iconbox type2">
                                            <a href="javascript:void(0);">			
                                                <div class="iconbox_wrapper">
                                                    <div class="icon_title_wrap">
                                                        <div class="ico"><img src="/img/icons/icon18.png" class="icon_def" width="32" height="22" alt="" /><img src="/img/retina/icons/icon18.png" class="icon_retina" width="32" height="22" alt="" /></div>
                                                        <h5 class="iconbox_title">Retina Ready</h5>
                                                    </div>
                                                    <div class="iconbox_body">						
                                                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
                                                    </div>					
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 module_cont module_iconboxes pb45">
                                        <div class="module_content shortcode_iconbox type2">
                                            <a href="javascript:void(0);">			
                                                <div class="iconbox_wrapper">
                                                    <div class="icon_title_wrap">
                                                        <div class="ico"><img src="/img/icons/icon19.png" class="icon_def" width="32" height="25" alt="" /><img src="/img/retina/icons/icon19.png" class="icon_retina" width="32" height="25" alt="" /></div>
                                                        <h5 class="iconbox_title">Extensive Documentation</h5>
                                                    </div>
                                                    <div class="iconbox_body">						
                                                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et volupt.</p>
                                                    </div>					
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 module_cont module_iconboxes pb45">
                                        <div class="module_content shortcode_iconbox type2">
                                            <a href="javascript:void(0);">			
                                                <div class="iconbox_wrapper">
                                                    <div class="icon_title_wrap">
                                                        <div class="ico"><img src="/img/icons/icon20.png" class="icon_def" width="32" height="31" alt="" /><img src="/img/retina/icons/icon20.png" class="icon_retina" width="32" height="31" alt="" /></div>
                                                        <h5 class="iconbox_title">Powerful Performance</h5>
                                                    </div>
                                                    <div class="iconbox_body">						
                                                        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequat.</p>
                                                    </div>					
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 module_cont module_iconboxes pb45">
                                        <div class="module_content shortcode_iconbox type2">
                                            <a href="javascript:void(0);">			
                                                <div class="iconbox_wrapper">
                                                    <div class="icon_title_wrap">
                                                        <div class="ico"><img src="/img/icons/icon21.png" class="icon_def" width="26" height="32" alt="" /><img src="/img/retina/icons/icon21.png" class="icon_retina" width="26" height="32" alt="" /></div>
                                                        <h5 class="iconbox_title">Endless Posibilities</h5>
                                                    </div>
                                                    <div class="iconbox_body">						
                                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur voluptatem sequi nesci.</p>
                                                    </div>					
                                                </div>
                                            </a>
                                        </div>
                                    </div>                	
                                 </div>                                                              	
                             </div>
                             
                             <div class="fw_block bg_start pt90 bg3 paralax mb90">
                             	<div class="row">
                                    <div class="col-sm-12 module_cont pb5">
                                        <div class="bg_title">
                                            <h2 class="light">Entrust Your Business to Eagle Creative</h2>
                                        </div>
                                        <div class="module_descr">
                                            <p class="light">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        </div>                                    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 module_cont pt5 pb100">
                                    	<iframe src="http://player.vimeo.com/video/46362853" height="372" allowfullscreen></iframe>
                                    </div>
                                	<div class="col-sm-6 module_cont pb80">
                                    	<p class="light mb27"><span class="dropcap type5">A</span>liquam sodales eu felis a rutrum. In hac habitasse platea, dictumst ut nec aliquet urna curabitur volutpat semper a massa eget fermentum sed adipiscing massa a nec bibendum tincidunt nisi vestibulum, venenatis enim eu ac lorem sodales eu felis a rutrum in hac habitasse platea, dictumst ut nec aliquet urna curabitur volutpat semper massa eget neque fermentum.</p>
                                        <ul class="list_icons light">
                                        	<li><i class="icon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                            <li><i class="icon-star"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                                        </ul>
                                        <p class="light mb32">Sed adipiscing massa nec bibendum tincidunt nisi vestibulum, venenatis enim eu, fringilla erat at sodales.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque</p>
                                        <a class="shortcode_button btn_normal btn_type5 dark_parent" href="javascript:void(0);">Get in touch</a>
                                        <a class="shortcode_button btn_normal btn_type4 dark_parent" href="javascript:void(0);">Purchase now</a>
                                    </div>
                             	</div>   
                             </div>
                             
                             <div class="row">
                             	<div class="col-sm-12 module_cont pb5">
                                	<div class="bg_title">
                                    	<h2>Leadership</h2>
                                    </div>
                                    <div class="module_descr">
                                    	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>                                    
                                </div>
                             </div>                             
                             
                             <div class="row">
                                <div class="col-sm-12 module_cont module_team pb100">
                                    <div class="team_slider">
                                        <div class="carouselslider teamslider items4">			
                                            <ul class="item_list type2">
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                        	<div class="row">
                                                            	<div class="col-sm-6">
                                                                	<div class="/img_block">
                                                                    	<img src="/img/imgs/team1.jpg" alt="" />
                                                                        <span class="team_fade"></span>
                                                                        <div class="team_icons_wrapper">
                                                                            <a href="javascript:void(0);" class="teamlink team_fb" title="Facebook"><span><i class="icon-facebook"></i></span></a>
                                                                            <a href="javascript:void(0);" class="teamlink team_twitter" title="Twitter"><span><i class="icon-twitter"></i></span></a>
                                                                            <a href="javascript:void(0);" class="teamlink team_google" title="Google+"><span><i class="icon-google-plus"></i></span></a>
                                                                        </div>                                                                 
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                	<div class="carousel_body">
                                                                        <div class="team_title">
                                                                            <h6>Philip Collins</h6>
                                                                            <div class="op">Founder</div>
                                                                        </div>
                                                                        <div class="team_desc">Lorem ipsum dolor sit amet, conctetur adipiscing elit.</div>                                                                        
                                                                    </div>
                                                                </div>                                                            
                                                            </div>                                                            								
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                        	<div class="row">
                                                            	<div class="col-sm-6">
                                                                	<div class="/img_block">
                                                                    	<img src="/img/imgs/team2.jpg" alt="" />
                                                                        <span class="team_fade"></span>
                                                                        <div class="team_icons_wrapper">                                                                            
                                                                            <a href="javascript:void(0);" class="teamlink team_pinterest" title="Pinterest"><span><i class="icon-dribbble"></i></span></a>
                                                                            <a href="javascript:void(0);" class="teamlink team_pinterest" title="Pinterest"><span><i class="icon-pinterest"></i></span></a>
                                                                            <a href="javascript:void(0);" class="teamlink team_fb" title="Facebook"><span><i class="icon-facebook"></i></span></a>
                                                                        </div>                                                                    
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                	<div class="carousel_body">
                                                                        <div class="team_title">
                                                                            <h6>Martha Weils</h6>
                                                                            <div class="op">Web Designer</div>
                                                                        </div>
                                                                        <div class="team_desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</div>                                                                        
                                                                    </div>
                                                                </div>                                                            
                                                            </div>                                                            								
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                        	<div class="row">
                                                            	<div class="col-sm-6">
                                                                	<div class="/img_block">
                                                                    	<img src="/img/imgs/team3.jpg" alt="" />
                                                                        <span class="team_fade"></span>
                                                                        <div class="team_icons_wrapper">
                                                                            <a href="javascript:void(0);" class="teamlink team_twitter" title="Twitter"><span><i class="icon-twitter"></i></span></a>
                                                                            <a href="javascript:void(0);" class="teamlink team_google" title="Google+"><span><i class="icon-google-plus"></i></span></a>
                                                                            <a href="javascript:void(0);" class="teamlink team_pinterest" title="Pinterest"><span><i class="icon-dribbble"></i></span></a>
                                                                        </div>                                                                    
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                	<div class="carousel_body">
                                                                        <div class="team_title">
                                                                            <h6>Stephen Johnson</h6>
                                                                            <div class="op">Web Developer</div>
                                                                        </div>
                                                                        <div class="team_desc">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.</div>                                                                        
                                                                    </div>
                                                                </div>                                                            
                                                            </div>                                                            								
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                        	<div class="row">
                                                            	<div class="col-sm-6">
                                                                	<div class="/img_block">
                                                                    	<img src="/img/imgs/team4.jpg" alt="" />
                                                                        <span class="team_fade"></span>
                                                                        <div class="team_icons_wrapper">
                                                                        	<a href="javascript:void(0);" class="teamlink team_pinterest" title="Pinterest"><span><i class="icon-pinterest"></i></span></a>
                                                                            <a href="javascript:void(0);" class="teamlink team_fb" title="Facebook"><span><i class="icon-facebook"></i></span></a>
                                                                            <a href="javascript:void(0);" class="teamlink team_twitter" title="Twitter"><span><i class="icon-twitter"></i></span></a>                                                                            
                                                                        </div>                                                                 
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                	<div class="carousel_body">
                                                                        <div class="team_title">
                                                                            <h6>Mark Edelvan</h6>
                                                                            <div class="op">Manager</div>
                                                                        </div>
                                                                        <div class="team_desc">Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</div>                                                                        
                                                                    </div>
                                                                </div>                                                            
                                                            </div>                                                            								
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                         </div>
                                    </div>                                    
                                </div>                                   
                            </div>
                            
                            <div class="fw_block bg_start grey_bg pt46">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb47 module_partners">
                                        <div class="module_content sponsors_works items6">
                                            <ul>
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://wordpress.com/" target="_blank"><img src="/img/imgs/wp.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li> 
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://www.envato.com/" target="_blank"><img src="/img/imgs/envato.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li> 
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://mailchimp.com/" target="_blank"><img src="/img/imgs/mailchimp.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://www.pixeden.com/" target="_blank"><img src="/img/imgs/pixeden.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li> 
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://themeforest.net/" target="_blank"><img src="/img/imgs/themeforest.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="http://www.gt3themes.com/" target="_blank"><img src="/img/imgs/gt3themes.png" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                             </div>                                    
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    
    <div th:replace="~{/commons/map :: map}"></div>
    <div th:replace="~{/commons/footer :: footer}"></div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/modules.js"></script>
    <script type="text/javascript" src="/js/theme.js"></script>
</body>
</html>