<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Budget</title>
    <head th:replace="~{/commons/head :: head}"></head>
<body>
<div th:replace="~{/commons/header :: header}"></div>


<div class="container mt-4">
    <h1 class="text-center">Budget Details</h1>
<div class="row">
    <div class="col-sm-6">
        <div class="my-4">
            <h2><strong th:text="${entity.name}">Name</strong></h2>
            <p><strong>Description:</strong> <span th:text="${entity.description}">Description</span></p>
            <p><strong>Total Amount:</strong> <span th:text="${entity.totalAmount}">Total Amount</span></p>
            <p><strong>Period Start:</strong> <span th:text="${entity.periodStart}">Period Start</span></p>
            <p><strong>Period End:</strong> <span th:text="${entity.periodEnd}">Period End</span></p>

        </div>
    </div>
    <div class="col-sm-6">
        <h4>Budget Allocations:</h4>
        <ul>
            <li th:each="budgetAllocation : ${entity.budgetAllocations}">
                <p><strong>Allocated Amount:</strong> <span th:text="${budgetAllocation.allocatedAmount}">Allocated Amount</span></p>
                <p><strong>Category:</strong> <span th:text="${budgetAllocation.category.name}">Category Name</span></p>
                <p><strong>Category Description:</strong> <span th:text="${budgetAllocation.category.description}">Category Description</span></p>
            </li>
        </ul></div>
</div>

    <div class="row">
        <div class="col-m-6 d-flex" style="
    display: flex;
    justify-content: space-around;
    align-items: center;">
            <a class="btn btn-primary" th:href="@{/budget}">Back to Budget List</a>
            <a th:href="@{/budget/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/budget/'
               + ${entity.id} + '/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </div>
    </div>
</div>

<div th:replace="~{/commons/footer :: footer}"></div>
</body>
</html>
