<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View BudgetAllocation</title>
    <head th:replace="~{/commons/head :: head}"></head>
<body>
<div th:replace="~{/commons/header :: header}"></div>
<div class="container mt-4">
    <h1 class="text-center">Budget Allocation Details</h1>
    <div class="row">
        <div class="col">
            <div class="my-4">
                <p><strong>Allocated Amount:</strong> <span th:text="${entity.allocatedAmount}">Allocated Amount</span>
                </p>

                <h4>Budget:</h4>
                <p><strong>Name:</strong> <span th:text="${entity.budget.name}">Budget Name</span></p>
                <p><strong>Total Amount:</strong> <span th:text="${entity.budget.totalAmount}">Total Amount</span></p>

                <h4>Category:</h4>
                <p><strong>Name:</strong> <span th:text="${entity.category.name}">Category Name</span></p>
                <p><strong>Description:</strong> <span
                        th:text="${entity.category.description}">Category Description</span></p>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <a th:href="@{/budgetallocation}">Back to the List</a>
            <a th:href="@{/budgetallocation/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/budgetallocation/'
               + ${entity.id} + '/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </div>
    </div>
</div>
<br>
<div th:replace="~{/commons/footer :: footer}"></div>
</body>
</html>
