<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Budget</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>List of Budget</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<a th:href="@{/budget/edit}">Create new Budget</a>
<table>
    <thead>
    <tr>
        <th>name</th>
        <th>description</th>
        <th>totalAmount</th>
        <th>periodStart</th>
        <th>periodEnd</th>
        <th>budgetAllocations</th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="entity : ${list}">
                                    <td th:text=${entity.name}></td>
                                            <td th:text=${entity.description}></td>
                                            <td th:text=${entity.totalAmount}></td>
                                            <td th:text=${entity.periodStart}></td>
                                            <td th:text=${entity.periodEnd}></td>
                                            <td>
                    <ul>
                        <li th:each="budgetAllocations_item : ${entity.budgetAllocations}" th:text="${budgetAllocations_item}"></li>
                    </ul>
                </td>
                
        <td>
            <a th:href="@{/budget/{id}(id=${entity.id})}">See detail</a>
            <a th:href="@{/budget/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/budget/'
                  +${entity.id}+'/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
