<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Budget</title>
</head>
<body>
<h1>Edit Budget</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/budget}" th:object="${entity}" method="post">

    <p>
        <label for="name">name:</label>
            <input type="text" th:field="*{name}" id="name" required>
        </p>
    <p>
        <label for="description">description:</label>
            <input type="text" th:field="*{description}" id="description" required>
        </p>
    <p>
        <label for="totalAmount">totalAmount:</label>
            <input type="text" th:field="*{totalAmount}" id="totalAmount" required>
        </p>
    <p>
        <label for="periodStart">periodStart:</label>
            <input type="text" th:field="*{periodStart}" id="periodStart" required>
        </p>
    <p>
        <label for="periodEnd">periodEnd:</label>
            <input type="text" th:field="*{periodEnd}" id="periodEnd" required>
        </p>
    <p>
        <label for="budgetAllocations">budgetAllocations:</label>
            <select multiple="multiple" th:field="*{budgetAllocations}" id="budgetAllocations">
            <option th:each="budgetAllocations_item : ${budgetAllocations_list}" th:value="${budgetAllocations_item}" th:text="${budgetAllocations_item}"></option>
        </select>
        </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/budget}">Cancel</a>
    </p>
</form>

</body>
</html>
