<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit BudgetAllocation</title>
    <head th:replace="~{/commons/head :: head}"></head>
<body>
<div th:replace="~{/commons/header :: header}"></div>
<div class="container">
    <div class="row">
        <div class="col module_cont pb40">
            <div class="bg_title"><h3>Edit Budget Allocation</h3></div>
            <div class="module_content contact_form">
                <div id="note"></div>
                <div id="fields">
                    <form th:action="@{/budgetallocation}" th:object="${entity}" id="ajax-contact-form" method="post">
                        <h3 th:if="${message != null}" th:text="${message}">Message</h3>
                        <div class="row row20">
                            <div class="col-sm-8">
                                <input type="text" th:field="*{allocatedAmount}" placeholder="Allocated Amount *" required>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{budget}" placeholder="Budget *" required>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" th:field="*{category}" placeholder="Category *" required>
                            </div>
                        </div>
                        <div class="row row20">
                            <div class="col-sm-1" hidden>
                                <input type="text" th:field="*{id}" placeholder="Id" hidden disabled>
                            </div>
                            <div class="col-sm-6">
                                <input type="submit" value="Save">
                                <a th:href="@{/budgetallocation}">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
<div th:replace="~{/commons/footer :: footer}"></div>
</body>
</html>
