<!DOCTYPE html>
<html>
<head th:replace="~{/commons/head :: head}"></head>
<body>
    <div th:replace="~{/commons/header :: header}"></div>
    
    <div class="breadcrumbs">
    	<div class="container">
        	<a href="/">Home</a><span>/</span>Contact
        </div>
    </div>
    
    <div class="wrapper">
    	<div class="container">
        	<div class="page_title_block">
                <div class="bg_title">
                    <h2>We Want to Hear from You</h2>
                </div>
                <div class="page_descr">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo dolores eos qui ratione voluptatem sequi nesciunt.</p>
                </div>
            </div>
        	<div class="content_block row no-sidebar">
            	<div class="fl-container">
                	<div class="posts-block">
                        <div class="contentarea">                        	
                            <div class="row">
                            	<div class="col module_cont contact_info pb40">
                                	<div class="bg_title"><h3>Office Info</h3></div>
                                    <p>Phone: +1 (800) 456 37 96</p>
                                    <p>Office: 5826 Baker Street, New York</p>
                                    <p class="mb20">Email: <a href="mailto:#">info@yoursite.com</a></p>
                                    <div class="post_socials">
                                        <ul>
                                            <li><a href="javascript:void(0);" class="soc_fb"><i class="icon-facebook"></i></a></li>
                                            <li><a href="javascript:void(0);" class="soc_tweet"><i class="icon-twitter"></i></a></li>
                                            <li><a href="javascript:void(0);" class="soc_google"><i class="icon-google-plus"></i></a></li>
                                            <li><a href="javascript:void(0);" class="soc_dribbble"><i class="icon-dribbble"></i></a></li>
                                            <li><a href="javascript:void(0);" class="soc_pinterest"><i class="icon-pinterest"></i></a></li>
                                        </ul>
                                    </div>                                                                    
                                </div>
                            </div>
                            
                            <div class="fw_block bg_start wall_wrap full_map">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb0 module_google_map">
                                        <div class="module_content">
                                            <iframe src="http://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=New+York&amp;sll=49.891235,-97.15369&amp;sspn=47.259509,86.923828&amp;ie=UTF8&amp;hq=&amp;hnear=New+York,+United+States&amp;ll=40.714867,-74.005537&amp;spn=0.019517,0.018797&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe>    
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div th:replace="~{/commons/footer :: footer}"></div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/modules.js"></script>
    <script type="text/javascript" src="js/theme.js"></script>
</body>
</body>
</html>