<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View expensecategory</title>
    <head th:replace="~{/commons/head :: head}"></head>
<body>
<div th:replace="~{/commons/header :: header}"></div>


<body>
<div class="container mt-4">
    <h1 class="text-center">Expense Category Details</h1>
    <div class="row">
        <div class="col-sm-6">
            <p><strong>Name:</strong> <span th:text="${entity.name}">Category Name</span></p>
            <p><strong>Description:</strong> <span th:text="${entity.description}">Category Description</span></p>

            <h4>Parent Category:</h4>
            <p th:if="${entity.parentCategory != null}">
                <strong>Name:</strong> <span th:text="${entity.parentCategory.name}">Parent Category Name</span>
            </p>
            <p th:if="${entity.parentCategory == null}">No parent category</p>
        </div>
        <div class="col-sm-6">
            <h4>Child Categories:</h4>
            <ul>
                <li th:each="child : ${entity.childCategories}" th:text="${child.name}">Child Category Name</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a th:href="@{/expensecategory}">Back to the List</a>
            <a th:href="@{/expensecategory/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/expensecategory/'
               + ${entity.id} + '/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>

        </div>
    </div>
</div>


<div th:replace="~{/commons/footer :: footer}"></div>
</body>
</html>
