<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of expensecategory</title>
    <head th:replace="~{/commons/head :: head}"></head>
<body>
<div th:replace="~{/commons/header :: header}"></div>

<div class="container mt-4">
    <h1 class="text-center">List of Expense Categories</h1>
    <div class="my-4">
        <a class="btn btn-primary" th:href="@{/expensecategory/edit}">Create new Expense Category</a>
    </div>
    <h3 class="text-center" th:if="${message != null}" th:text="${message}">Message</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Parent Category</th>
            <th>Child Categories</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entity : ${list}">
            <td th:text=${entity.name}></td>
            <td th:text=${entity.description}></td>
            <td th:if="${entity.parentCategory!=null}" th:text=${entity.parentCategory.name}></td>
            <td th:if="${entity.parentCategory==null}">-</td>
            <td>
                <ul>
                    <li th:each="childCategories_item : ${entity.childCategories}"
                        th:text="${childCategories_item.name}"></li>
                </ul>
            </td>
            <td style="
    display: flex;
    flex-direction: column;">
                <a class="btn btn-info btn-sm" th:href="@{/expensecategory/{id}(id=${entity.id})}">See detail</a>
                <a class="btn btn-warning btn-sm" th:href="@{/expensecategory/edit/{id}(id=${entity.id})}">Edit</a>
                <form th:if="${entity.id!=null}" method="get" th:action="'/expensecategory/'+${entity.id}+'/delete'">
                    <input class="btn btn-danger btn-sm" type="submit" value="Delete"
                           onclick="return confirm('Are you sure?')">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{/commons/footer :: footer}"></div>
</body>
</html>
