<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of ExpenseReport</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>List of ExpenseReport</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<a th:href="@{/expenseReport/edit}">Create new ExpenseReport</a>
<table>
    <thead>
    <tr>
        <th>name</th>
        <th>description</th>
        <th>createDate</th>
        <th>status</th>
        <th>expenseItems</th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="entity : ${list}">
                                    <td th:text=${entity.name}></td>
                                            <td th:text=${entity.description}></td>
                                            <td th:text=${entity.createDate}></td>
                                            <td th:text=${entity.status}></td>
                                            <td>
                    <ul>
                        <li th:each="expenseItems_item : ${entity.expenseItems}" th:text="${expenseItems_item}"></li>
                    </ul>
                </td>
                
        <td>
            <a th:href="@{/expenseReport/{id}(id=${entity.id})}">See detail</a>
            <a th:href="@{/expenseReport/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/expenseReport/'
                  +${entity.id}+'/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
