<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of expenseitem</title>
    <head th:replace="~{/commons/head :: head}"></head>
<body>
<div th:replace="~{/commons/header :: header}"></div>
<h1>List of expenseitem</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<a th:href="@{/expenseitem/edit}">Create new expenseitem</a>
<table>
    <thead>
    <tr>
        <th>name</th>
        <th>amount</th>
        <th>date</th>
        <th>User</th>
        <th>budgetallocation</th>
        <th>category</th>

        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${list}">
        <td th:text=${entity.name}></td>
        <td th:text=${entity.amount}></td>
        <td th:text=${entity.date}></td>
        <td th:text=${entity.User}></td>
        <td th:text=${entity.budgetallocation}></td>
        <td th:text=${entity.category}></td>

        <td>
            <a th:href="@{/expenseitem/{id}(id=${entity.id})}">See detail</a>
            <a th:href="@{/expenseitem/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/expenseitem/'
                  +${entity.id}+'/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div th:replace="~{/commons/footer :: footer}"></div>
</body>
</html>
