<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit expensecategory</title>
    <head th:replace="~{/commons/head :: head}"></head>
<body>
<div th:replace="~{/commons/header :: header}"></div>
<div class="container">
    <div class="row">
        <div class="col module_cont pb40">
            <div class="bg_title"><h3>Edit Expense Category</h3></div>
            <div class="module_content contact_form">
                <div id="note"></div>
                <div id="fields">
                    <form th:action="@{/expensecategory}" th:object="${entity}" id="ajax-contact-form" method="post">
                        <h3 th:if="${message != null}" th:text="${message}">Message</h3>
                        <div class="row row20">
                            <div class="col-sm-4">
                                <input type="text" th:field="*{name}" placeholder="Name *" required>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" th:field="*{description}" placeholder="Description *" required>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" th:field="*{parentCategory}" placeholder="Parent Category *">
                            </div>
                        </div>
                        <div class="row row20">
                            <div class="col-sm-6" hidden>
                                <input type="text" th:field="*{id}" placeholder="Id">
                            </div>
                        </div>
                        <div class="row row20">
                            <div class="col-sm-6">
                                <input type="submit" value="Save">
                            </div>
                            <div class="col-sm-6">
                                <a th:href="@{/expensecategory}">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

<div th:replace="~{/commons/footer :: footer}"></div>
</body>
</html>
