<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit ExpenseItem</title>
</head>
<body>
<h1>Edit ExpenseItem</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/expenseItem}" th:object="${entity}" method="post">

    <p>
        <label for="name">name:</label>
            <input type="text" th:field="*{name}" id="name" required>
        </p>
    <p>
        <label for="amount">amount:</label>
            <input type="text" th:field="*{amount}" id="amount" required>
        </p>
    <p>
        <label for="date">date:</label>
            <input type="text" th:field="*{date}" id="date" required>
        </p>
    <p>
        <label for="category">category:</label>
            <input type="text" th:field="*{category}" id="category" required>
        </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/expenseItem}">Cancel</a>
    </p>
</form>

</body>
</html>
