<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit ExpenseReport</title>
</head>
<body>
<h1>Edit ExpenseReport</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/expenseReport}" th:object="${entity}" method="post">

    <p>
        <label for="name">name:</label>
            <input type="text" th:field="*{name}" id="name" required>
        </p>
    <p>
        <label for="description">description:</label>
            <input type="text" th:field="*{description}" id="description" required>
        </p>
    <p>
        <label for="createDate">createDate:</label>
            <input type="text" th:field="*{createDate}" id="createDate" required>
        </p>
    <p>
        <label for="status">status:</label>
            <input type="text" th:field="*{status}" id="status" required>
        </p>
    <p>
        <label for="expenseItems">expenseItems:</label>
            <select multiple="multiple" th:field="*{expenseItems}" id="expenseItems">
            <option th:each="expenseItems_item : ${expenseItems_list}" th:value="${expenseItems_item}" th:text="${expenseItems_item}"></option>
        </select>
        </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/expenseReport}">Cancel</a>
    </p>
</form>

</body>
</html>
