<!DOCTYPE html>
<html>
<head th:replace="~{/commons/head :: head}"></head>
<body>
<div th:replace="~{/commons/header :: header}"></div>
    
    <div class="breadcrumbs">
    	<div class="container">
        	<a href="/">Home</a><span>/</span><a href="javascript:void(0);">Pages</a><span>/</span>FAQ
        </div>
    </div>
    
    <div class="wrapper">
    	<div class="container">
        	<div class="page_title_block">
                <div class="bg_title">
                    <h2>Frequently Asked Questions</h2>
                </div>
                <div class="page_descr">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo dolores eos qui ratione voluptatem sequi nesciunt.</p>
                </div>
            </div>
        	<div class="content_block row right-sidebar">
            	<div class="fl-container hasRS">
                	<div class="posts-block">
                        <div class="contentarea">
                        	
                            <div class="row">                             	
                                <div class="col-sm-12 module_cont module_accordion pb20">
                                    <div class="bg_title"><h3>Documentation</h3></div>
                                    <div class="shortcode_accordion_shortcode accordion">
                                        <h5 data-count="1" class="shortcode_accordion_item_title expanded_yes">How to Make Site Narrower or Wider?<span class="ico"></span></h5>
                                        <div class="shortcode_accordion_item_body">
                                            <div class="ip">
                                            	<p>Donec et eleifend velit. Sed eget urna odio. Quisque pulvinar dolor purus, sed dignissim ante imperdiet ac. Sed vulputate lectus at enim aliquet suscipit. Proin metus nibh, tempor ut porta ultricies, sollicitudin id mauris. Aliquam neque lectus, condimentum quis fringilla. Duis aute irure dolor in reprehenderit in voluptate velit esse dolore.</p>
                                                <ol>
                                                	<li>Donec et eleifend velit. Sed eget urna odio.</li>
                                                    <li>Quisque pulvinar dolor purus, sed dignissim ante imperdiet ac.</li>
                                                    <li>Sed vulputate lectus at enim aliquet suscipit.</li>
                                                    <li>Proin metus nibh, tempor ut porta ultricies, sollicitudin id mauris.</li>
                                                </ol>
                                            </div>
                                        </div>
                                        <h5 data-count="2" class="shortcode_accordion_item_title expanded_no">How to Add Google Map?<span class="ico"></span></h5>
                                        <div class="shortcode_accordion_item_body">
                                            <div class="ip">
                                                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea lorem ipsum dolor sit amet.</p>
                                            </div>
                                        </div>
                                        <h5 data-count="3" class="shortcode_accordion_item_title expanded_no">How can I Activate Slider Revolution?<span class="ico"></span></h5>
                                        <div class="shortcode_accordion_item_body">
                                            <div class="ip">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni eos.</p>
                                            </div>
                                        </div>
                                        <h5 data-count="4" class="shortcode_accordion_item_title expanded_no">How to Add Iconfont Icons to the Main Menu?<span class="ico"></span></h5>
                                        <div class="shortcode_accordion_item_body">
                                            <div class="ip">
                                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                             </div>
                             
                             <div class="row">
                                <div class="col-sm-12 module_cont module_toggle pb20">
                                    <div class="bg_title"><h3>Support</h3></div>
                                    <div class="shortcode_toggles_shortcode toggles">
                                        <h5 data-count="1" class="shortcode_toggles_item_title expanded_yes">How to Make Site Narrower or Wider?<span class="ico"></span></h5>
                                        <div class="shortcode_toggles_item_body">
                                            <div class="ip">
                                                <p>Donec et eleifend velit. Sed eget urna odio. Quisque pulvinar dolor purus, sed dignissim ante imperdiet ac. Sed vulputate lectus at enim aliquet suscipit. Proin metus nibh, tempor ut porta ultricies, sollicitudin id mauris. Aliquam neque lectus, condimentum quis fringilla. Duis aute irure dolor in reprehenderit in voluptate velit esse dolore.</p>
                                                <ol>
                                                	<li>Donec et eleifend velit. Sed eget urna odio.</li>
                                                    <li>Quisque pulvinar dolor purus, sed dignissim ante imperdiet ac.</li>
                                                    <li>Sed vulputate lectus at enim aliquet suscipit.</li>
                                                    <li>Proin metus nibh, tempor ut porta ultricies, sollicitudin id mauris.</li>
                                                </ol>
                                            </div>
                                        </div>
                                        <h5 data-count="2" class="shortcode_toggles_item_title expanded_no">How to Add Google Map?<span class="ico"></span></h5>
                                        <div class="shortcode_toggles_item_body">
                                            <div class="ip">
                                                <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea lorem ipsum dolor sit amet.</p>
                                            </div>
                                        </div>
                                        <h5 data-count="3" class="shortcode_toggles_item_title expanded_yes">How can I Activate Slider Revolution?<span class="ico"></span></h5>
                                        <div class="shortcode_toggles_item_body">
                                            <div class="ip">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni eos.</p>
                                            </div>
                                        </div>
                                        <h5 data-count="4" class="shortcode_toggles_item_title expanded_yes">How to Add Iconfont Icons to the Main Menu?<span class="ico"></span></h5>
                                        <div class="shortcode_toggles_item_body">
                                            <div class="ip">
                                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div> 
    </div>
    
    <div th:replace="~{/commons/map :: map}"></div>
    <div th:replace="~{/commons/footer :: footer}"></div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/modules.js"></script>
<script type="text/javascript" src="/js/theme.js"></script>
</body>
</html>