<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple_icons_57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple_icons_72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple_icons_114x114.png">
    <title>Eagle Creative | Premium Html Template</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100,400italic,700,500,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/theme.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/revslider.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/custom.css" type="text/css" media="all" />
</head>
<body>
<div th:replace="~{/commons/header :: header}"></div>

<div class="wrapper">
    <div class="container">
        <div class="content_block row no-sidebar">
            <div class="fl-container">
                <div class="posts-block">
                    <div class="contentarea">
                        <!-- Slider -->
                        <div class="fw_block bg_start wall_wrap">
                            <div class="row">
                                <div class="col-sm-12 first-module module_slider module_cont pb0 light_parent">
                                    <div class="slider_container">
                                        <div class="fullscreen_slider">
                                            <ul>
                                                <!-- SLIDE 1 -->
                                                <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
                                                    <img src="img/slider/slide_bg_light.jpg" alt="slide1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
                                                    <!-- LAYER NR. 1 -->
                                                    <div class="tp-caption customin z_index2"
                                                         data-x="665"
                                                         data-y="-50"
                                                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:1000;transformOrigin:50% 50%;"
                                                         data-speed="1500"
                                                         data-start="500"
                                                         data-easing="Power3.easeInOut"
                                                         data-endspeed="300"><img src="img/slider/desktop.png" alt=""/>
                                                    </div>

                                                    <!-- LAYER NR. 2 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_img z_index3"
                                                         data-x="699"
                                                         data-y="672"
                                                         data-speed="1400"
                                                         data-start="1300"
                                                         data-easing="Back.easeInOut"
                                                         data-endspeed="1000"
                                                         data-endeasing="Power4.easeIn"><img src="img/slider/keyboard.png" alt=""/>
                                                    </div>

                                                    <!-- LAYER NR. 3 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_img z_index4"
                                                         data-x="1068"
                                                         data-y="679"
                                                         data-speed="1500"
                                                         data-start="1500"
                                                         data-easing="Back.easeInOut"
                                                         data-endspeed="500"
                                                         data-endeasing="Power4.easeIn"><img src="img/slider/mouse.png" alt=""/>
                                                    </div>

                                                    <!-- LAYER NR. 4 -->
                                                    <div class="tp-caption lfr ltr tp-resizeme slide_img z_index5"
                                                         data-x="1264"
                                                         data-y="369"
                                                         data-speed="1200"
                                                         data-start="2300"
                                                         data-easing="Power4.easeOut"
                                                         data-endspeed="500"
                                                         data-endeasing="Power4.easeIn"><img src="img/slider/ipad.png" alt=""/>
                                                    </div>

                                                    <!-- LAYER NR. 5 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_img z_index6"
                                                         data-x="1248"
                                                         data-y="528"
                                                         data-speed="1200"
                                                         data-start="2300"
                                                         data-easing="Back.easeInOut"
                                                         data-endspeed="500"
                                                         data-endeasing="Power4.easeIn"><img src="img/slider/iphone.png" alt=""/>
                                                    </div>

                                                    <!-- LAYER NR. 6 -->
                                                    <div class="tp-caption lft ltt tp-resizeme slide_title font_size60"
                                                         data-x="0"
                                                         data-y="190"
                                                         data-speed="1000"
                                                         data-start="1600"
                                                         data-easing="Power4.easeOut"
                                                         data-endspeed="300"
                                                         data-endeasing="Power4.easeIn">We Provide Smart<br>Solutions for Business
                                                    </div>

                                                    <!-- LAYER NR. 7 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_descr"
                                                         data-x="0"
                                                         data-y="346"
                                                         data-speed="1000"
                                                         data-start="1600"
                                                         data-easing="Power4.easeOut"
                                                         data-endspeed="600"
                                                         data-endeasing="Power4.easeIn">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud<br>exercitation ullam. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.
                                                    </div>

                                                    <!-- LAYER NR. 8 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_btn"
                                                         data-x="0"
                                                         data-y="459"
                                                         data-speed="1000"
                                                         data-start="1800"
                                                         data-easing="Power4.easeOut"
                                                         data-endspeed="600"
                                                         data-endeasing="Power4.easeIn"><a href="/login">GET STARTED NOW</a>
                                                    </div>
                                                </li>

                                                <!-- SLIDE 2 -->
                                                <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
                                                    <img src="img/slider/slide_bg_light.jpg" alt="slide2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
                                                    <!-- LAYER NR. 1 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_img slide3_1"
                                                         data-x="0"
                                                         data-y="7"
                                                         data-speed="800"
                                                         data-start="700"
                                                         data-easing="Power4.easeOut"
                                                         data-endspeed="500"
                                                         data-endeasing="Power4.easeIn"><img src="img/slider/3_1_light.png" alt=""/>
                                                    </div>

                                                    <!-- LAYER NR. 2 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_img slide3_2"
                                                         data-x="0"
                                                         data-y="324"
                                                         data-speed="1000"
                                                         data-start="1200"
                                                         data-easing="Power4.easeOut"
                                                         data-endspeed="500"
                                                         data-endeasing="Power4.easeIn"><img src="img/slider/3_2_light.png" alt=""/>
                                                    </div>

                                                    <!-- LAYER NR. 3 -->
                                                    <div class="tp-caption lft ltt tp-resizeme slide_title slide_info_center"
                                                         data-x="0"
                                                         data-y="223"
                                                         data-speed="600"
                                                         data-start="1200"
                                                         data-easing="Power4.easeOut"
                                                         data-endspeed="300"
                                                         data-endeasing="Power4.easeIn">Welcome to <span>Eagle Creative</span>
                                                    </div>

                                                    <!-- LAYER NR. 4 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_descr slide_info_center"
                                                         data-x="0"
                                                         data-y="311"
                                                         data-speed="600"
                                                         data-start="1200"
                                                         data-easing="Power4.easeOut"
                                                         data-endspeed="600"
                                                         data-endeasing="Power4.easeIn">Lorem ipsum dolor sit amet, consectetur adipiscing elit einem, sed do eiusmod tempor incididunt<br>ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam. Nemo<br>enim ipsam voluptatem quia voluptas sit aspernatur aut.
                                                    </div>

                                                    <!-- LAYER NR. 5 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_btn slide_info_center"
                                                         data-x="0"
                                                         data-y="424"
                                                         data-speed="800"
                                                         data-start="1400"
                                                         data-easing="Power4.easeOut"
                                                         data-endspeed="600"
                                                         data-endeasing="Power4.easeIn"><a href="/login">Get started now</a>
                                                    </div>
                                                </li>

                                                <!-- SLIDE 3 -->
                                                <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
                                                    <img src="img/slider/slide_bg_light.jpg" alt="slide3" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
                                                    <!-- LAYER NR. 1 -->
                                                    <div class="tp-caption customin z_index2"
                                                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:1000;transformOrigin:50% 50%;"
                                                         data-x="691"
                                                         data-y="114"
                                                         data-speed="1500"
                                                         data-start="1000"
                                                         data-easing="Power4.easeOut"
                                                         data-endspeed="500"
                                                         data-endeasing="Power4.easeIn"><img src="img/slider/laptop.png" alt=""/>
                                                    </div>

                                                    <!-- LAYER NR. 2 -->
                                                    <div class="tp-caption lft ltt tp-resizeme slide_title font_size60"
                                                         data-x="0"
                                                         data-y="190"
                                                         data-speed="600"
                                                         data-start="1200"
                                                         data-easing="Power4.easeOut"
                                                         data-endspeed="300"
                                                         data-endeasing="Power4.easeIn">Simplicity of Design &amp;<br>Attention to Details
                                                    </div>

                                                    <!-- LAYER NR. 3 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_descr"
                                                         data-x="0"
                                                         data-y="346"
                                                         data-speed="600"
                                                         data-start="1200"
                                                         data-easing="Power4.easeOut"
                                                         data-endspeed="600"
                                                         data-endeasing="Power4.easeIn">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud<br>exercitation ullam. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.
                                                    </div>

                                                    <!-- LAYER NR. 4 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_btn"
                                                         data-x="0"
                                                         data-y="459"
                                                         data-speed="800"
                                                         data-start="1400"
                                                         data-easing="Power4.easeOut"
                                                         data-endspeed="600"
                                                         data-endeasing="Power4.easeIn"><a href="/login">Get started now</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //Slider -->

                        <div class="row pt10">
                            <div class="col-sm-4 module_cont pb80 module_iconboxes">
                                <div class="module_content shortcode_iconbox">
                                    <a href="javascript:void(0);">
                                        <div class="iconbox_wrapper">
                                            <div class="icon_title_wrap">
                                                <div class="ico"><img src="img/icons/icon4.png" class="icon_def" width="80" height="80" alt="" /><img src="img/retina/icons/icon4.png" class="icon_retina" width="80" height="80" alt="" /></div>
                                                <h5 class="iconbox_title">Trusted People</h5>
                                            </div>
                                            <div class="iconbox_body">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4 module_cont pb80 module_iconboxes">
                                <div class="module_content shortcode_iconbox">
                                    <a href="javascript:void(0);">
                                        <div class="iconbox_wrapper">
                                            <div class="icon_title_wrap">
                                                <div class="ico"><img src="img/icons/icon5.png" class="icon_def" width="80" height="80" alt="" /><img src="img/retina/icons/icon5.png" class="icon_retina" width="80" height="80" alt="" /></div>
                                                <h5 class="iconbox_title">Professional Service</h5>
                                            </div>
                                            <div class="iconbox_body">
                                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4 module_cont pb80 module_iconboxes">
                                <div class="module_content shortcode_iconbox">
                                    <a href="javascript:void(0);">
                                        <div class="iconbox_wrapper">
                                            <div class="icon_title_wrap">
                                                <div class="ico"><img src="img/icons/icon6.png" class="icon_def" width="80" height="80" alt="" /><img src="img/retina/icons/icon6.png" class="icon_retina" width="80" height="80" alt="" /></div>
                                                <h5 class="iconbox_title">Best Solution</h5>
                                            </div>
                                            <div class="iconbox_body">
                                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 module_cont pb20">
                                <div class="bg_title">
                                    <h2>We Make Meaning, not Marketing</h2>
                                </div>
                                <div class="module_descr">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in in velit esse cillum.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 module_cont pb40 module_tabs">
                                <div class="shortcode_tabs type3">
                                    <div class="all_head_sizer"><div class="all_heads_cont"></div><div class="clear"></div></div>
                                    <div class="all_body_sizer"><div class="all_body_cont"></div></div>
                                    <div class="shortcode_tab_item_title expand_yes">Purpose</div>
                                    <div class="shortcode_tab_item_body tab-content clearfix">
                                        <div class="ip">
                                            <div class="tab_content">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p><span class="dropcap type1">A</span>liquam sodales eu felis a rutrum. In hac habitasse platea, dictumst ut nec aliquet urna curabitur volutpat semper a massa eget fermentum sed adipiscing massa a nec bibendum tincidunt nisi vestibulum, venenatis enim eu ac lorem sodales eu felis a rutrum in hac habitasse platea, dictumst ut nec aliquet urna curabitur volutpat semper massa eget neque fermentum. Sed adipiscing massa nec <a href="javascript:void(0);">bibendum tincidunt</a> nisi vestibulum, venenatis enim eu, fringilla erat at sodales.Sed ut perspiciatis unde omnis iste natus error einem.</p>
                                                        <p>Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum tenetur a sapiente delectu.</p>
                                                    </div>
                                                    <div class="col-sm-6"><img src="img/imgs/tab_home.jpg" class="mb17" alt="" /></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shortcode_tab_item_title expand_no">Philosophy</div>
                                    <div class="shortcode_tab_item_body tab-content clearfix">
                                        <div class="ip">
                                            <div class="tab_content">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.</p>
                                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                                                    </div>
                                                    <div class="col-sm-6"><img src="img/imgs/tab3_2.jpg" class="mb17" alt="" /></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shortcode_tab_item_title expand_no">Strategy</div>
                                    <div class="shortcode_tab_item_body tab-content clearfix">
                                        <div class="ip">
                                            <div class="tab_content">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p>Quas molestias excepturi sint occaecati cupiditate non provident, at vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                                                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.</p>
                                                    </div>
                                                    <div class="col-sm-6"><img src="img/imgs/tab3_3.jpg" class="mb17" alt="" /></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="shortcode_tab_item_title expand_no">Partnership</div>
                                    <div class="shortcode_tab_item_body tab-content clearfix">
                                        <div class="ip">
                                            <div class="tab_content">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                                                        <p>Sint et molestiae non recusandae. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.</p>
                                                    </div>
                                                    <div class="col-sm-6"><img src="img/imgs/tab3_4.jpg" class="mb17" alt="" /></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>

                        <div class="fw_block bg_start pt90 pb45 grey_bg mb90">
                            <div class="row">
                                <div class="col-sm-12 module_cont pb10">
                                    <div class="bg_title">
                                        <h2>We Craft Awesome Things</h2>
                                    </div>
                                    <div class="module_descr">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 module_cont module_iconboxes pb45">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon7.png" class="icon_def" width="34" height="30" alt="" /><img src="img/retina/icons/icon7.png" class="icon_retina" width="34" height="30" alt="" /></div>
                                                    <h5 class="iconbox_title">Guaranteed Uploads</h5>
                                                </div>
                                                <div class="iconbox_body">
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantiu dolores eos qui ratione.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 module_cont module_iconboxes pb45">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon8.png" class="icon_def" width="32" height="18" alt="" /><img src="img/retina/icons/icon8.png" class="icon_retina" width="32" height="18" alt="" /></div>
                                                    <h5 class="iconbox_title">Rapid Growth</h5>
                                                </div>
                                                <div class="iconbox_body">
                                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut voluptatem sequi nesciunt.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 module_cont module_iconboxes pb45">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon9.png" class="icon_def" width="32" height="32" alt="" /><img src="img/retina/icons/icon9.png" class="icon_retina" width="32" height="32" alt="" /></div>
                                                    <h5 class="iconbox_title">Dedicated Support</h5>
                                                </div>
                                                <div class="iconbox_body">
                                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur dolores eos qui ratione.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 module_cont module_iconboxes pb45">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon16.png" class="icon_def" width="26" height="32" alt="" /><img src="img/retina/icons/icon16.png" class="icon_retina" width="26" height="32" alt="" /></div>
                                                    <h5 class="iconbox_title">Multilayered Security</h5>
                                                </div>
                                                <div class="iconbox_body">
                                                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis dolores eos qui.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 module_cont module_iconboxes pb45">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon17.png" class="icon_def" width="32" height="32" alt="" /><img src="img/retina/icons/icon17.png" class="icon_retina" width="32" height="32" alt="" /></div>
                                                    <h5 class="iconbox_title">Custom Menus</h5>
                                                </div>
                                                <div class="iconbox_body">
                                                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihi ratione voluptatem.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 module_cont module_iconboxes pb45">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon18.png" class="icon_def" width="32" height="22" alt="" /><img src="img/retina/icons/icon18.png" class="icon_retina" width="32" height="22" alt="" /></div>
                                                    <h5 class="iconbox_title">Retina Ready</h5>
                                                </div>
                                                <div class="iconbox_body">
                                                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 module_cont module_iconboxes pb45">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon19.png" class="icon_def" width="32" height="25" alt="" /><img src="img/retina/icons/icon19.png" class="icon_retina" width="32" height="25" alt="" /></div>
                                                    <h5 class="iconbox_title">Extensive Documentation</h5>
                                                </div>
                                                <div class="iconbox_body">
                                                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et volupt.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 module_cont module_iconboxes pb45">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon20.png" class="icon_def" width="32" height="31" alt="" /><img src="img/retina/icons/icon20.png" class="icon_retina" width="32" height="31" alt="" /></div>
                                                    <h5 class="iconbox_title">Powerful Performance</h5>
                                                </div>
                                                <div class="iconbox_body">
                                                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequat.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-4 module_cont module_iconboxes pb45">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico"><img src="img/icons/icon21.png" class="icon_def" width="26" height="32" alt="" /><img src="img/retina/icons/icon21.png" class="icon_retina" width="26" height="32" alt="" /></div>
                                                    <h5 class="iconbox_title">Endless Posibilities</h5>
                                                </div>
                                                <div class="iconbox_body">
                                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur voluptatem sequi nesci.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 module_cont pb5">
                                <div class="bg_title">
                                    <h2>Our Capabilities</h2>
                                </div>
                                <div class="module_descr">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in in velit esse cillum.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 module_cont pb65">
                                <div class="shortcode_diagram items4">
                                    <ul class="diagram_list" data-bg="#ffffff" data-color="#f25253" data-width="5px" data-size="130px" data-fontsize="45px">
                                        <li class="diagram_li">
                                            <div class="diagram_wrapper">
                                                <div class="diagram_item">
                                                    <div class="chart_wrapper">
                                                        <div class="chart" data-percent="75">75<span>%</span></div>
                                                    </div>
                                                    <div class="diagram_content">
                                                        <h4>Photoshop</h4>
                                                        <div class="diagram_descr">Temporibus autem quibusdam et aut officiis debitis aut rerum einem.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="diagram_li">
                                            <div class="diagram_wrapper">
                                                <div class="diagram_item">
                                                    <div class="chart_wrapper">
                                                        <div class="chart" data-percent="80">80<span>%</span></div>
                                                    </div>
                                                    <div class="diagram_content">
                                                        <h4>Wordpress</h4>
                                                        <div class="diagram_descr">Neceus saepe eveniet ut et voluptates repudiandae sint et molest.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="diagram_li">
                                            <div class="diagram_wrapper">
                                                <div class="diagram_item">
                                                    <div class="chart_wrapper">
                                                        <div class="chart" data-percent="90">90<span>%</span></div>
                                                    </div>
                                                    <div class="diagram_content">
                                                        <h4>Photography</h4>
                                                        <div class="diagram_descr">Itaque earum rerum hic tenet sapiente delectus, ut aut reiciendis ut.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="diagram_li">
                                            <div class="diagram_wrapper">
                                                <div class="diagram_item">
                                                    <div class="chart_wrapper">
                                                        <div class="chart" data-percent="100">100<span>%</span></div>
                                                    </div>
                                                    <div class="diagram_content">
                                                        <h4>HTML5</h4>
                                                        <div class="diagram_descr">Bus maiores alias consequatur aut perferendis doloribus asperiores.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{/commons/map :: map}"></div>
<div th:replace="~{/commons/footer :: footer}"></div>

<div class="fixed-menu"></div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/modules.js"></script>
<script type="text/javascript" src="js/theme.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
<!-- Portfolio -->
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/sorting.js"></script>
<!-- Testimonials -->
<script type="text/javascript" src="js/slick.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        "use strict";
        jQuery('.fullscreen_slider').show().revolution({
            delay: 5000,
            startwidth: 1170,
            startheight: 700,
            fullWidth:"off",
            fullScreen:"on",
            navigationType:"bullet",
            fullScreenOffsetContainer: ".main_header",
            fullScreenOffset: ""
        });

        // Testimonials
        jQuery('.testimonials-info').slick({
            fade: true,
            arrows: false,
            asNavFor: '.testimonials-nav',
            adaptiveHeight: true
        });

        var visibl_show = 5; // Value = 1..5 (Max value - 5)

        var count_els = jQuery('.testimonials-nav .nav_item_wrap').length;
        if (count_els > visibl_show && visibl_show % 2 == 1) {
            var center_true = true;
        } else if (count_els <= visibl_show) {
            var visibl_show = count_els;
            var center_true = false;
        }
        else {
            var center_true = false;
        }
        jQuery('.testimonials-nav').slick({
            slidesToShow: visibl_show,
            asNavFor: '.testimonials-info',
            centerMode: center_true,
            focusOnSelect: true,
            autoplay: true,
            responsive: [
                {
                    breakpoint: 980,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });

    });
</script>
</body>
</html>