<!DOCTYPE html>
<html>

<head th:replace="~{/commons/head :: head}"></head>
<body>
<div th:replace="~{/commons/header :: header}"></div>
    
    <div class="breadcrumbs">
    	<div class="container">
        	<a href="/">Home</a><span>/</span><a href="javascript:void(0);">Shop</a><span>/</span>Cart
        </div>
    </div>
    
    <div class="wrapper">
    	<div class="container">
        	<div class="page_title_block">
                <div class="bg_title">
                    <h2>Your Cart</h2>
                </div>
                <div class="page_descr">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo dolores eos qui ratione voluptatem sequi nesciunt.</p>
                </div>
            </div>
        	<div class="content_block row no-sidebar">
            	<div class="fl-container">
                	<div class="posts-block">
                        <div class="contentarea">
                        	
                            <div class="shop_cart">
                            	<table>
                                	<thead>
                                        <tr>
                                            <th class="product-thumbnail">Item</th>
                                            <th class="product-name">Description</th>
                                            <th class="product-price">Unit Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-subtotal">Total</th>
                                            <th class="product-remove">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                    
                                    	<tr class="cart_table_item"> 
                                        	<td class="product-thumbnail">
                                                <a href="shop_product.html"><img src="/img/shop/cart_item1.jpg" alt=""></a>
                                            </td>
                                            <td class="product-name">
                                                <a href="shop_product.html">Skateboarding "Hideaway" Jacket</a>
                                            </td>
                                            <td class="product-price">
                                                <span class="amount">$500.00</span>
                                            </td>
                                            <td class="product-quantity">
                                                <form class="cart" method="post" action="javascript:void(0);">
                                                    <div class="quantity">
                                                        <a class="minus button" href="javascript:void(0);">-</a>
                                                        <input class="input-text qty text" type="number" title="Qty" value="1" name="quantity" min="1" step="1">
                                                        <a class="plus button" href="javascript:void(0);">+</a>
                                                    </div>
                                                    <div class="clear"></div>
                                                </form>
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount">$500.00</span>
                                            </td>
                                            <td class="product-remove">
                                                <a class="remove" href="javascript:void(0);">×</a>
                                            </td>
                                        </tr>
                                        <tr class="cart_table_item"> 
                                        	<td class="product-thumbnail">
                                                <a href="shop_product.html"><img src="/img/shop/cart_item2.jpg" alt=""></a>
                                            </td>
                                            <td class="product-name">
                                                <a href="shop_product.html">Makia Clothing Office Shirt</a>
                                            </td>
                                            <td class="product-price">
                                                <span class="amount">$200.00</span>
                                            </td>
                                            <td class="product-quantity">
                                                <form class="cart" method="post" action="javascript:void(0);">
                                                    <div class="quantity">
                                                        <a class="minus button" href="javascript:void(0);">-</a>
                                                        <input class="input-text qty text" type="number" title="Qty" value="1" name="quantity" min="1" step="1">
                                                        <a class="plus button" href="javascript:void(0);">+</a>
                                                    </div>
                                                    <div class="clear"></div>
                                                </form>
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="amount">$200.00</span>
                                            </td>
                                            <td class="product-remove">
                                                <a class="remove" href="javascript:void(0);">×</a>
                                            </td>
                                        </tr>                                        
                                        <tr>
                                        	<td class="actions" colspan="6">
                                            	<div class="coupon">
                                                	<form class="coupon_form" action="javascript:void(0);" method="get" name="coupon_form">
                                                        <input type="text" value="" name="coupon" placeholder="Coupon Code">
                                                        <input type="submit" value="Apply Coupon">
                                                    </form>
                                                </div>
                                                <div class="fright">
                                                	<a href="javascript:void(0);" class="shortcode_button btn_small btn_type4">Update cart</a><a href="javascript:void(0);" class="shortcode_button btn_small btn_type5">Proceed to checkout</a>
                                                </div>
                                                <div class="clear"></div>
                                            </td>
                                        </tr>
                                    </tbody>
                            	</table>                            
                            </div>
                            
                            <div class="row pb93">
                            	<div class="col-sm-8"></div>
                                <div class="col-sm-4 text-right">
                                	<h3 class="fw400 mb18">Cart Totals</h3>
                                    <table class="cart_totals">
                                    	<tr>
                                    		<td><span>Cart Subtotal</span></td>
                                            <td>$700</td>
                                        </tr>
                                        <tr>
                                    		<td><span>Shipping</span></td>
                                            <td>Free Shipping</td>
                                        </tr>
                                        <tr>
                                    		<td><span>Oder Total</span></td>
                                            <td>$700</td>
                                        </tr>
                                    </table>
                                    <a href="javascript:void(0);" class="calculate">Calculate Shipping</a>
                                </div>                            
                            </div>                                                                                                         
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    
    <div th:replace="~{/commons/map :: map}"></div>
    <div th:replace="~{/commons/footer :: footer}"></div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/modules.js"></script>
<script type="text/javascript" src="/js/theme.js"></script>
<script type="text/javascript" src="/js/shop.js"></script>
</body>
</html>