<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<h3 th:if="${message != null}" th:text="${message}">Message</h3>
<form th:action="@{/user}" th:object="${entity}" method="post">

    <p>
        <label for="username">username:</label>
            <input type="text" th:field="*{username}" id="username" required>
        </p>
    <p>
        <label for="password">password:</label>
            <input type="text" th:field="*{password}" id="password" required>
        </p>
    <p>
        <label for="email">email:</label>
            <input type="text" th:field="*{email}" id="email" required>
        </p>
    <p>
        <label for="role">role:</label>
            <input type="text" th:field="*{role}" id="role" required>
        </p>

    <p>
        <input type="text" th:field="*{id}" id="id">
        <input type="submit" value="Save">
        <a th:href="@{/user}">Cancel</a>
    </p>
</form>

</body>
</html>
