<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View User</title>
    <head th:replace="~{/commons/head :: head}"></head>
<body>
<div th:replace="~{/commons/header :: header}"></div>

<div class="container mt-4">
    <h1 class="text-center">User Details</h1>

    <div class="row">
        <div class="col-sm-6">
            <p><strong>Username:</strong> <span th:text="${entity.username}">Username</span></p>
            <p><strong>First Name:</strong> <span th:text="${entity.firstname}">First Name</span></p>
            <p><strong>Last Name:</strong> <span th:text="${entity.lastname}">Last Name</span></p>
            <p><strong>Email:</strong> <span th:text="${entity.email}">Email</span></p>

            <h4>Roles:</h4>
            <ul>
                <li th:each="role : ${entity.roles}" th:text="${role.name}"></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h4>Expense Items:</h4>
            <ul>
                <li th:each="expenseItem : ${entity.expenseItems}">
                    <span th:text="${expenseItem.name}"></span> -
                    <span th:text="${expenseItem.amount}"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a th:href="@{/user}">Back to the List</a>
            <a th:href="@{/user/edit/{id}(id=${entity.id})}">Edit</a>
            <form th:if="${entity.id!=null}" method="get"
                  th:action="'/user/' + ${entity.id} + '/delete'">
                <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </div>
    </div>
</div>
<br>
<div th:replace="~{/commons/footer :: footer}"></div>
</body>
</html>
